<div>
{{#if post.length}}
  {{#each post}}
    <div class="post">
      <div class="date-container">
        <span class="date-text">{{createdAt}}</span>
      </div>
      <div class="post-content">
        <a href="/post/{{id}}" class="post-title">{{title}}</a>
        <p class="post-body">{{body}}</p>
      </div>
      <div class="post-footer">
        <span class="post-user">{{user.username}}</span>
      </div>
    </div>
  {{/each}}
{{else}}
  <p>No posts found</p>
{{/if}}
</div>
